.imagen-destacada img {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra */
  }